body {
  font-family: Arial, sans-serif:
}

#form-menabung {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#saldo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
